/* ------------------------
CSS TABLE OF CONTENTS
# GLOBAL CSS
    # MIXINS
    # TYPOGRAPHY
        # BODY
        # HEADINGS
    # MEDIA
        # IMG   
    # LAYOUT
        # BOX SIZING
        # BODY
        # MAIN
        # SECTION
        # CONTAINER 
    # STRUCTURE
        # SITE HEADER
        # MENU BUTTON
        # NAV
        # HERO
        # MAIN
        # SITE FOOTER
    # BREAKPOINTS
        # @MEDIA SMALL
            # BODY
            # CONTAINER
            # TYPOGRAPHY
        # @MEDIA MEDIUM
        # @MEDIA LARGE
    # IMAGES
    # FORM
    # HOVER 




------------------------ */
/* BODY */
body {
  font-family: "adobe-caslon-pro", serif;
  font-size: 100%;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.8); }

/* HEADINGS */
h1 {
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 2em; }

h2 {
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.75em; }

h3 {
  font-family: "adobe-caslon-pro", serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em; }

h4 {
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em; }

p {
  font-family: "adobe-caslon-pro", serif;
  font-size: 0.9em;
  max-width: 27em;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.65); }

.site-navigation li {
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  list-style: none;
  font-weight: 300;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
  font-family: "franklin-gothic-compressed", sans-serif; }

li {
  list-style: none;
  font-family: "franklin-gothic-compressed", sans-serif;
  font-weight: 200;
  list-style: none;
  color: rgba(0, 0, 0, 0.5); }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left; }

section {
  padding: 30vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
  /* flex-wrap: wrap; */
  margin-left: -1%;
  margin-right: -1%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.row .column {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 1%;
  margin-right: 1%; }

.row .column.centered {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.row .column.one-half {
  width: 48%; }

.row .column.one-third {
  width: 31.3333%; }

.row .column.two-thirds {
  width: 64.6666%; }

.row .column.one-fourth {
  width: 23%; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1200px; } }

img {
  max-width: 100%;
  height: auto; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }
  .sticky img {
    width: 100px; }

/* SITE HEADER */
.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  z-index: 100;
  width: 100%;
  margin: 0; }

.site-header h1 {
  font-size: 1.25em;
  padding: 0;
  margin-top: 2em;
  margin-left: 2em;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-90deg) translate(-50vh);
  -ms-transform: rotate(-90deg) translate(-50vh);
  transform: rotate(-90deg) translate(-50vh); }

.site-header h1 a {
  display: inline-block;
  padding: 1em 1em; }

.site-header h1 a:hover {
  color: black; }

/* NAV */
.site-navigation ul {
  padding: 0;
  margin-top: 0;
  margin-right: -5em;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(90deg) translate(50vh);
  -ms-transform: rotate(90deg) translate(50vh);
  transform: rotate(90deg) translate(50vh); }

.site-navigation ul li {
  display: inline-block; }

.site-navigation ul li a {
  display: block;
  padding: 1em 1em;
  -webkit-transition: 0.2s ease-out all;
  -o-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all; }

.site-navigation ul li a:hover {
  color: black; }

.site-navigation ul li a.selected {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5); }

/* HERO */
/* SITE-FOOTER */
.site-footer {
  background-color: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 1em; }
  .site-footer h1,
  .site-footer h2,
  .site-footer h3,
  .site-footer h4,
  .site-footer p {
    color: white;
    font-weight: 200; }

#form {
  width: 450px;
  margin: 15px 0;
  position: absolute;
  display: inline-block;
  float: right; }

#form label {
  display: block;
  float: left;
  width: 95px;
  border: 0px;
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1em;
  /* text-align: left; */ }

#form input {
  display: block;
  float: left;
  border: 0px;
  width: 330px;
  font-family: "adobe-caslon-pro", serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  margin-bottom: 10px; }

#form textarea {
  display: block;
  float: left;
  border: 0px;
  width: 330px;
  height: 140px;
  color: white;
  padding: 5px;
  resize: none; }

#form input.message {
  float: left;
  border: 0px;
  width: 330px;
  height: 140px;
  color: white;
  padding: 5px;
  resize: none; }

#form input.name {
  background: no-repeat 10px 8px;
  opacity: 1; }

#form input.email {
  background: no-repeat 10px 8px;
  opacity: 1; }

#form textarea {
  background: no-repeat 10px 8px;
  opacity: 1; }

#form input.submit {
  cursor: pointer;
  width: 85px;
  height: 30px;
  float: left;
  padding: 5px 5px 5px 5px;
  margin: 10px 0px 0px 95px;
  background: #cccbcb;
  color: black;
  font-family: freight-sans-condensed-pro, sans-serif;
  font-size: 0.75em;
  line-height: 1.2em;
  font-weight: 100;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  border-radius: 0; }

#collection-h {
  width: 100vw;
  height: 100vh; }

.h-content-menu {
  background: white;
  margin: 0;
  padding: 0; }
  .h-content-menu .h-view {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7; }
  .h-content-menu .h-content {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

#collection-h .h-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: lightgrey;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; }
  #collection-h .h-body .info,
  #collection-h .h-body .riopele,
  #collection-h .h-body .sedaris,
  #collection-h .h-body .palate,
  #collection-h .h-body .parallax,
  #collection-h .h-body .jones,
  #collection-h .h-body .luis,
  #collection-h .h-body .scene,
  #collection-h .h-body .untitled {
    height: 100vh;
    font: transparent; }

#collection-h .info {
  background-color: white;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 60vh 5vw; }
  #collection-h .info h1 {
    font-size: 100px;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 35px; }
  #collection-h .info p {
    color: lightgrey;
    font-size: 18px; }

#collection-h .riopele {
  background-image: url(../img/riopele1.png); }

#collection-h .sedaris {
  background-image: url(../img/Sedaris_Badges.png); }

#collection-h .palate {
  background-image: url(../img/palate1.gif); }

#collection-h .parallax {
  background-image: url(../img/parallax1.gif); }

#collection-h .jones {
  background-image: url(../img/Jones_Home.png); }

#collection-h .luis {
  background-image: url(../img/Luis_Home.png); }

#collection-h .scene {
  background-image: url(../img/Scene_Home.png); }

#collection-h .untitled {
  background-image: url(../img/untitled.png); }

#collection-h .hover {
  width: 40%; }

.grow {
  width: 15%;
  display: block;
  background-size: cover;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all; }
  .grow:hover {
    width: 40%; }

.site-header .site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid; }
  .site-header .site-nav ul {
    display: inline-block;
    position: absolute;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 6.25vw;
    right: 11vw;
    -webkit-transform: rotate(90deg) translateX(115%);
    -ms-transform: rotate(90deg) translateX(115%);
    transform: rotate(90deg) translateX(115%);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    margin-top: 0;
    padding: 0;
    list-style: none; }
  .site-header .site-nav li {
    float: left;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 2.5em; }
  .site-header .site-nav.active {
    position: absolute;
    z-index: 100; }
    .site-header .site-nav.active li {
      opacity: 0.9;
      -webkit-transition: all 0.4s cubic-bezier(0, 1, 1, 1);
      -o-transition: all 0.4s cubic-bezier(0, 1, 1, 1);
      transition: all 0.4s cubic-bezier(0, 1, 1, 1);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
      .site-header .site-nav.active li:nth-child(1) {
        -webkit-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        transition-delay: 0.4s; }
      .site-header .site-nav.active li:nth-child(2) {
        -webkit-transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
        transition-delay: 0.6s; }
      .site-header .site-nav.active li:nth-child(3) {
        -webkit-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        transition-delay: 0.8s; }
      .site-header .site-nav.active li:nth-child(4) {
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
        transition-delay: 1s; }
      .site-header .site-nav.active li:nth-child(5) {
        -webkit-transition-delay: 1.2s;
        -o-transition-delay: 1.2s;
        transition-delay: 1.2s; }
      .site-header .site-nav.active li:nth-child(6) {
        -webkit-transition-delay: 1.4s;
        -o-transition-delay: 1.4s;
        transition-delay: 1.4s; }
    .site-header .site-nav.active a {
      display: block; }

/* MENU BUTTON */
.menu-button {
  border: 1px solid blue;
  position: absolute;
  top: 1vw;
  right: 2vw;
  width: 20em;
  height: 5em;
  overflow: hidden;
  z-index: 1000000;
  cursor: pointer; }
  .menu-button:before {
    content: "\2630";
    display: inline-block;
    font-size: 1.2em;
    width: 10em;
    height: 5em; }

.active .menu-button.navicon:before {
  content: "\2630";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: 0.4s all ease-out;
  -o-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out; }

.hero {
  border: 1px solid orange;
  height: 100vh;
  margin: 0;
  padding: 0; }

.slider-container {
  position: relative;
  height: 100vh;
  width: 100vw; }

.slide {
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
  height: 100vh; }

.box--1 {
  background-image: url(../img/Luis_Home.png); }

.box--2 {
  background-image: url(../img/Jones_Home.png); }

.box--3 {
  background-image: url(../img/Scene_Home.png); }

.box--4 {
  background-image: url(../img/Sedaris_Badges.png); }

.box--5 {
  background-image: url(../img/parallax1.gif); }

.hover-bars {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative; }
  .hover-bars .hover-text {
    position: absolute;
    bottom: 7vw;
    left: 7vw;
    z-index: -1; }
  .hover-bars .jones {
    background-image: url(../img/Jones_Home.png); }
  .hover-bars .luis {
    background-image: url(../img/Luis_Home_Hover.png); }
  .hover-bars .scene {
    background-image: url(../img/Scene_Home.png); }
  .hover-bars .riopele {
    background-image: url(../img/riopele_logo.gif); }
  .hover-bars .sedaris {
    background-image: url(../img/Sedaris_Badges.png); }
  .hover-bars .hover-grow {
    width: 6vw;
    display: block;
    background-size: cover;
    background-position: center center;
    /* Ease in & out */
    -webkit-transition: 0.4s cubic-bezier(1, 0, 0, 1) all;
    -o-transition: 0.4s cubic-bezier(1, 0, 0, 1) all;
    transition: 0.4s cubic-bezier(1, 0, 0, 1) all;
    /* Ease in */
    /* Ease out */
    opacity: 70%; }
    .hover-bars .hover-grow a {
      color: blue; }
    .hover-bars .hover-grow:hover {
      background-position: left center;
      width: 60vw;
      opacity: 100%;
      text-transform: lowercase; }
