.form {
  width: 450px;
  margin: 15px 0;
  display: inline-block; }

#form label {
  display: block;
  float: left;
  width: 95px;
  border: 0px;
  padding-top: 5px;
  font-family: freight-sans-condensed-pro, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 100;
  letter-spacing: .2em;
  /* text-align: left; */ }

#contact #form input {
  display: block;
  float: left;
  border: 0px;
  width: 330px;
  color: black;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px; }

#contact #form textarea {
  display: block;
  float: left;
  border: 0px;
  width: 330px;
  height: 140px;
  color: black;
  padding: 10px 10px 10px 10px;
  resize: none; }

#contact #form input.message {
  float: left;
  border: 0px;
  width: 330px;
  height: 140px;
  color: black;
  padding: 10px 10px 10px 10px;
  resize: none; }

#contact #form input.name {
  background: #e9e8e8 no-repeat 10px 8px;
  opacity: 1.0; }

#contact #form input.email {
  background: #e9e8e8 no-repeat 10px 8px;
  opacity: 1.0; }

#contact #form textarea {
  background: #e9e8e8 no-repeat 10px 8px;
  opacity: 1.0; }

#contact #form input.submit {
  cursor: pointer;
  width: 85px;
  height: 30px;
  float: left;
  padding: 5px 5px 5px 5px;
  margin: 10px 0px 0px 95px;
  background: #cccbcb;
  color: black;
  font-family: freight-sans-condensed-pro, sans-serif;
  font-size: .75em;
  line-height: 1.2em;
  font-weight: 100;
  letter-spacing: .25em;
  text-transform: uppercase;
  border-radius: 0; }
