.site-header .site-nav {
    border: 1px solid blue;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    ul {
        border: 1px solid red;
        display: inline-block;
        position: absolute;
        justify-content: space-between;
        // top: 3vw;
        // right: 3vw;
        top: 6.25vw;
        right: 11vw;
        transform: rotate(90deg) translateX(115%);
        transform-origin: top right;
        margin-top: 0;
        padding: 0;
        z-index: 5000;
        padding: 0;
    }
    li {
        background: yellow;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        opacity: 0;
    }
    &.active {
        position: absolute;
        z-index: 5000;
        li {
            opacity: 0.9;
            transition: all 0.4s cubic-bezier(0, 1, 1, 1);
            transform: translateY(0);
            opacity: 1;
        }
        a {
            display: block;
        }
    }
}

/* MENU BUTTON */

.menu-button {
    background: green;
    position: absolute;
    top: 6.25vw;
    right: 11vw;
    width: 1.5em;
    height: 1.5em;
    // top: 3vw;
    // right: 3vw;
    // height: 2.5em;
    // width: 2.5em;
    // z-index: 6000;
    overflow: hidden;
    cursor: pointer;

    &:before {
        border: 1px solid purple;
        content: "\2630";
        display: inline-block;
        width: 10em;
        height: 10em;
    }
}

.active .menu-button.navicon:before {
    // content: url(/img/ [insert png]);
    content: "\2630";
    color: $color-accent2;
    transform: rotateX(0deg);
    transition: 0.4s all ease-out;
}
