#fullscreen-m{ width: 100vw; height: 100vh; }

.m-fullscreen-menu{
    background: white;
    margin: 0;  padding: 0;

    .m-dialog {
        margin: 0;  padding: 0;
        width: 100vw;
        height:100vh;
        background-color: white;
    }

    .m-content {
        background: transparent;
        margin: 0;  padding: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;

        button{
            position: absolute;
            top: 20px; left: 20px;
            z-index: 2000;

            span{
                font-size: 18px;

                i{
                    font-size: 14px;
                    text-transform: uppercase;
                    font-style: normal;
                }
            }
        }
    }
}

#fullscreen-m{
    .m-body{
        display: flex;
        background-color: lightgrey;
        width: 100vw;
        height: 100vh;
        margin: 0;  padding: 0;

        .info,
        .riopele,
        .sedaris,
        .palate,
        .parallax,
        .jones,
        .luis,
        .scene,
        .untitled{
            // display: flex;
            // align-items: center;
            // justify-content: center;

            // float: left;
            // width: 15%;
            height: 100vh;

            // transition: width .4s;
            // -webkit-transition: width .4s;
        }

        .riopeleb,
        .sedarisb,
        .palateb,
        .parallaxb,
        .jonesb,
        .luisb,
        .sceneb,
        .untitledb{
            // display: flex;
            // align-items: center;
            // justify-content: center;

            // float: left;
            // width: 60%;
            // height: 100vh;

            // transition: width .4s;
            // -webkit-transition: width .4s;
        }

        .info{
            background-color: white;
            align-items: flex-end;
            justify-content: flex-start;

            padding: 4vh 5vw;

            h1{
                font-size: 100px;
                line-height: 1em;
                text-transform: uppercase;
                margin-bottom: 35px;
            }

            p{
                color: lightgrey;
                text-transform: uppercase;
                font-size: 18px;
            }
        }

        .riopele,
        .riopeleb{ 
            background-image: url(../img/riopele1.png); 
           
     
        }
        .sedaris,
        .sedarisb{
            background-image: url(../img/sedaris1.gif); 
            
           }

        .palate,
        .palateb{ 
            background-image: url(../img/palate1.gif); 
           
            
         }
         .parallax,
         .parallaxb{ 
            background-image: url(../img/parallax1.gif); 
         
         }


        .jones,
        .jonesb{ 
            background-image: url(../img/jones1.gif); 
          
     
        }
        .luis,
        .luisb{
            background-image: url(../img/luis.jpg); 
           
           }

        .scene,
        .sceneb{ 
            background-image: url(../img/scene.png); 
        
            
         }

        .untitled,
        .untitledb{ 
            background-image: url(../img/untitled.png); 
         
         }

        .hover{ width: 40%; }
    }
}
.grow {
    width: 15%;
    display: block;
    background-size: cover;
    
    // transform: scaleX(1);
    // transform-origin: right;
    transition: .4s ease all;
    &:hover {
        // transform: scaleX(1.2);
        width: 40%;
    }
}

