#collection-h{ width: 100vw; height: 100vh; }

.h-content-menu{
    background: white;
    margin: 0;  padding: 0;

    .h-view {
        margin: 0;  padding: 0;
        width: 100vw;
        height: 100vh;
        background-color: $color-background;
    }

    .h-content {
        background: transparent;
        margin: 0;  padding: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

#collection-h{
    .h-body{
        display: flex;
        background-color: lightgrey;
        width: 100vw;
        height: 100vh;
        margin: 0;  
        padding: 0;
        // @include sans-fontrules; 

        .info,
        .riopele,
        .sedaris,
        .palate,
        .parallax,
        .jones,
        .luis,
        .scene,
        .untitled{
            height: 100vh;
            font: transparent;
        }

        }

        .info{
            background-color: white;
            align-items: flex-end;
            justify-content: flex-start;
            padding: 60vh 5vw;

            h1{
                font-size: 100px;
                line-height: 1em;
                text-transform: uppercase;
                margin-bottom: 35px;
            }

            p{
                color: lightgrey;
                font-size: 18px;
            }
        }

        .riopele{ 
            background-image: url(../img/riopele1.png); 
        }

        .sedaris{
            background-image: url(../img/sedaris1.gif); 
        }

        .palate{ 
            background-image: url(../img/palate1.gif); 
        }

        .parallax{ 
            background-image: url(../img/parallax1.gif); 
        }

        .jones{ 
            background-image: url(../img/jones1.gif); 
        }

        .luis{
            background-image: url(../img/luis.jpg); 
        }

        .scene{ 
            background-image: url(../img/scene.png); 
        }

        .untitled{ 
            background-image: url(../img/untitled.png); 
        }

        .hover{ width: 40%; }
    }

.grow {
    width: 15%;
    display: block;
    background-size: cover;
    
    // transform: scaleX(1);
    // transform-origin: right;
    transition: .4s ease all;
    &:hover {
        // transform: scaleX(1.2);
        width: 40%;
    }
}

