.hover-bars {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    position: relative;

    .hover-text {
        background: pink;
        position: absolute;
        bottom: 4vw;
        left: 4vw;
        // width: 100vh;
        // min-width: 20vw;
        z-index: -1;
    }

    .jones {
        // background-color: red;
        background-image: url(../img/Luis_Home_Hover.png);
    }

    .luis {
        background-color: orange;
    }

    .scene {
        background-color: blue;
        // background-image: url(../img/Scene_Home.png);
    }

    .hover-grow {
        width: 5vw;
        display: block;
        background-size: cover;
        background-position: center center;
        /* Ease in & out */
        // transition: 0.4s cubic-bezier(1, 0, 0, 1) all;
        /* Ease in */
        transition: 0.2s cubic-bezier(0, 1, 1, 1) all;
        /* Ease out */
        transition: 0.4s cubic-bezier(0, 0, 1, 0) all;

        opacity: 50%;
        text-transform: uppercase;

        &:hover {
            background-position: left center;
            width: 60vw;
            opacity: 100%;
            text-transform: lowercase;
        }
    }
}
